http:
    services:
        unavailable:
            loadBalancer:
                servers:
                    - url: "http://127.0.0.1:8000/"
    routers:
        catchall:
            entrypoints:
                - web
                - websecure
            rule: "PathPrefix(`/`)"
            service: unavailable@file
            priority: 1
